<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .form{
        color:black;

        justify-content: center;
        align-items: center;
        }





    <meta charset="UTF-8">
    <title></title>
    </style>
</head>


<body>
<form action="" method="POST" >
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"><br>
    <input type="text" name="first_name" placeholder="first_name"><br>
    <input type="text" name="last_name" placeholder="last_name"><br>


    <input type="email" name="email" placeholder="Enter Your Email"><br>
    <input type="password" name="password" placeholder="Enter Your Password"><br>
    <input type="password" name="password1" placeholder="Confirm Your Password"><br>
    <input type =submit><br>



</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</div>
</body>
</html>